<% if @post.errors.any? %>
  $('.show-errors-create').html('');
  <% @post.errors.full_messages.each do |message| %>
    $('.show-errors-create').append('<li><%= message %></li>');
  <% end %>
<% else %>
  $('.microposts')
    .prepend('<%= escape_javascript(render('posts/post', post: @post, comment: @comments)) %>');
  $('.show-errors-create').html('');
  $('.post-title').val('');
  $('.post-content').val('');
  CKEDITOR.instances['cke_1_contents'].setData('');
<% end %>
