<%= link_to gravatar_for(current_user, size: Settings.gravatar.index_size),
  current_user %>
<p><b><%= current_user.name %></b></p>
<span><%= link_to t(".profile"), current_user %></span>
<span>
  <%= pluralize number_microposts(current_user), t(".micropost") %>
</span>
